@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300;400;700&display=swap');

body{
    padding: 0;
    margin: 0;
    background-color: #eee;
}
p, span, div, label, input, button{
    font-family: 'Roboto Condensed', sans-serif;
}
.app header{
    min-height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.app header h1{
    margin: 0;
    font-size: 3.0em;
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 400;
    color: #bbb;
}

.app nav{
    background-color: #ddd;
}

.app nav ul{
    display: block;
    margin: 0;
    padding: 0 10%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.app nav li{
    flex: 1 1 auto;
    list-style: none;
    height: 60px;
    text-align: center;
    display: table;
}
.separator{
    flex: 3 1 auto;
}
.app nav a:link{
   text-decoration: none;
   width: 100%;
   height: 100%;
   display: table-cell;
   vertical-align: middle;
   color: #888;
   font-family: 'Roboto Condensed', sans-serif;
}

.app nav a:hover{
    color: #888;
    background-color: #ccc;
}


.app nav a:visited{
    color: #888;
}

.app nav a:hover{
    text-decoration: none;
 }

 .app nav form[name='search-form']{
     display: table-cell;
     vertical-align: middle;

 }
 .app nav input[type='search']{
    border: none;
    padding: 10px 10px;
}

.app nav form[name='search-form'] button{
    border: none;
    padding: 10px 10px;
    cursor: pointer;
}

.app nav form[name='search-form'] button:hover{
    background-color: #bbb;
}

.app main{
    min-height: 300px;
    padding: 0;
    margin: 0;
    background-color: #fff;
}
.app main article{
    padding: 5% 12%;
}
.app main article h2{
    margin: 0;
    font-family: 'Roboto Condensed', sans-serif;
}
.app footer{
    width: 100%;
    min-height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.app .signup{
    display: flex;
    justify-content: center;
}
.app .signup .window{
    padding: 30px 50px;
    width: 50%;
    border-radius: 10px;
    box-shadow: 1px 1px 10px 1px #bbb;
    text-align: center;
}
.app .signup form{
    text-align: left;
}
.app .signup input{
    width: 100%;
}

.app .signup h2{
    text-align: center;
}

.app .signup hr{
    border: 0.5px solid #eee;
    background-color: #eee;
}
.app .signup .captcha-wrapper{
    display: flex;
    justify-content: center;
}
.app .signup .captcha{
    background-color: #f8f8f8;
    width: 75%;
    padding: 20px;
    margin: 20px;
    text-align: center;
}
.app .signup .captcha div{
    margin: 20px 0 0 0;
    display: flex;
    justify-content: center;
}
.app .signup .captcha #captcha-status{
    margin: 20px 0 0 0;
}
.app .signup .captcha canvas{
    margin-left: 10px;
}
.app .signup .captcha input{
    width: 80px;
    margin-right: 10px;
}
.app .signup button{
    border: none;
    border-radius: 15px;
    font-size: 1.2em;
    padding: 10px 20px;
    cursor: pointer;
}
@media screen and (max-width: 1000px){
    .app nav .separator{
        flex: 0 0 auto;
    }
}

@media screen and (max-width: 850px){
    .app nav ul{
        display: none;
    }
}