<!DOCTYPE html>
<html>

<head>
</head>

<body>
  <% for(i=0; i < vtour.length; i++){ %>
    <div>
      <p>
        <%= vtour[i].title %>
      </p>
      <p>
        <%= vtour[i].owner %>
      </p>
      <p>
        <%= vtour[i].created %>
      </p>
    </div>
    <% } %>
</body>

</html>